{
	# 公開 CA ではなく Caddy の内部 CA で全サイトの証明書を発行する
	local_certs
}

{$WP1_DOMAIN} {
	tls internal
	reverse_proxy wp1-wordpress:80
}

{$WP2_DOMAIN} {
	tls internal
	reverse_proxy wp2-wordpress:80
}

{$DASHBOARD_DOMAIN} {
	tls internal
	# ダッシュボードはコンテナではなくホストで 127.0.0.1 にだけ bind して動く
	reverse_proxy host.docker.internal:{$DASHBOARD_PORT}
}
